.menuWrap {
  position: absolute;
  top: 56px;
  right: 50px;
  background-color: #a2a4a4;
  z-index: 100;
  border-radius: 4px;
}

.item {
  padding: 10px 10px;
}

.item:hover {
  color: #ffffff;
}


