.item {
  border-radius: 12px;
  background-color: #f3f6f7;
  height: 100%;
}

.item:hover,
.item:focus {
  background-color: #f4fbfb;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.link {
  display: flex;
  flex-direction: column;
}

.imgWrap {
  padding: 15px;
  padding-bottom: 0;
}

.thumb {
  padding: 15px;
}

.title {
  color: #3f4040;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
