@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Source+Sans+3:wght@300;400;500;600&display=swap");

body {
  font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(36, 44, 55, 0.5);
}

.trackList {
  padding-bottom: 80px;
}

.leftArrow {
  fill: var(--color-accent);
  stroke: var(--color-accent);
}

.title {
  color: var(--font-color);
}

.themeLight {
  --color-secondary: #636464;
  --color-accent: #0d818c;

  --font-color: #212529;

  --bg-card: #f3f6f7;
  --bg-card-hover: #eaebec;
  --bg-color: #fafafa;
}

.themeDark {
  --color-secondary: #f3f6f7;
  --color-accent: #65bbc3;

  --font-color: #f3f6f7;

  --bg-card: rgba(63, 64, 64, 0.1);
  --bg-card-hover: rgba(63, 64, 64, 0.2);
  --bg-color: #191a1a;
}
