.wrapper {
  padding-top: 10px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 99;
  top: 85px;
  left: 0;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 16px;
  color: #727474;
  display: block;
}

.sidenav a:hover {
  color: #0d818c;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 16px;
  z-index: 10;
}
