.controllersWrap {
  display: flex;
  padding: 20px 0;
}

.addPlaylist {
  background: none;
  border: none;
}

.addPlaylistIcon {
  width: 25px;
  height: 25px;
  fill: #109ba8;
}

.searchWrap {
  display: flex;
}

.form {
  width: 330px;
  border: none;
  border-bottom: 2px solid #109ba8;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.form::placeholder {
  color: var(--font-color);
}

.form:focus {
  outline: none;
  box-shadow: 0 0 0 2px transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--color-accent);
  background-color: var(--bg-color);
  color: var(--font-color);
}

.searchBtn {
  border: none;
  background: none;
  height: 40px;
}

.searchIcon {
  width: 25px;
  height: 25px;
  stroke: #727474;
}

.contentWrap {
  padding: 20px 0 80px 0;
}
