.item {
  align-items: center;
  display: grid;
  grid-template-columns: 0.2fr 0.5fr 1.5fr 2.5fr 1fr 1fr 1fr;
  padding: 10px 0;
  padding-right: 20px;
  position: relative;
}

.number {
  font-size: 18px;
  font-weight: 600;
  color: #727474;
}

.image {
  height: 64px;
  width: 64px;
}

.title {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 18px;
}

.artist {
  font-size: 14px;
  font-weight: 500;
  color: #727474;
}

.album {
  font-size: 16px;
  color: #636464;
}

.btn {
    border: none;
    cursor: pointer;
    background: none;
}

.removeIcon {
    stroke: #109BA8;
    fill: #109BA8;
    width: 25px;

    transition: fill 0.5s ease-in-out;
}

.addIcon {
  width: 25px;
}