.item {
  align-items: center;
  display: grid;
  grid-template-columns: 0.2fr 2.5fr 0.5fr 0.5fr 0.5fr;
  padding: 10px 0;
  padding-right: 20px;
  position: relative;
  cursor: pointer;
}

.item:hover {
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.5);
  background-color: #f4fbfb;
}

.number {
  font-size: 18px;
  font-weight: 600;
  color: #727474;
  justify-self: center;
}

.title {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 18px;
}

.artist {
  font-size: 14px;
  font-weight: 500;
  color: #727474;
}

.btn {
  border: none;
  cursor: pointer;
  background: none;
}

.removeIcon {
  stroke: #109ba8;
  fill: #109ba8;
  width: 25px;

  transition: fill 0.5s ease-in-out;
}

.addIcon {
  width: 25px;
}
